name: pwabuilder-apiv2-container to prod

on:
  push:
    branches: ["master"]

env:
  AZURE_FUNCTIONAPP_NAME: 'pwabuilder-apiv2-container'
  AZURE_CONTAINER_REGISTRY: 'pwabuilder'
  IMAGE_NAME: 'pwabuilder-apiv2'

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v4

    - name: Login with Azure CLI
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_APP_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Log in to Azure docker registry (ACR)
      run: az acr login --name pwabuilder

    - name: 'Build and Push Docker Image to ACR'
      run: |
        az acr build \
          --registry ${{ env.AZURE_CONTAINER_REGISTRY }} \
          --image ${{ env.IMAGE_NAME }}:latest \
          --image ${{ env.IMAGE_NAME }}:${{ github.sha }} \
          .

    - name: 'Update Function App Container'
      run: |
        az functionapp config container set \
          --resource-group pwabuilder-prod \
          --name ${{ env.AZURE_FUNCTIONAPP_NAME }} \
          --image ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ env.IMAGE_NAME }}:latest
